%equal-pages {
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	transition: all 1s;


}

%d-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}